.text-danger {
    color: red;
}

.form-group {
    padding: 10px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 25%;
}

.card {
    align-items: center;
    border-radius: 5px;
    padding: 20px;
  }
  .head1 {
    color:rgb(2, 43, 2);
    padding: 10px;
    margin: 0;
    font-size: 30px;
    font-family: monospace;
    font-style: oblique;
    font: bold;
  }