// .button {
//     background-color :beige;
//     border-width : 2px;
//     height: 5px;
//     border-color : black;
// }
.heading {
    color:rgb(2, 43, 2);
    padding: 10px;
    margin: 0;
    font-size: 60px;
    font-family: monospace;
    font-style: oblique;
    font: bold;
}
.contact {
    color: chocolate;
}
